.content{
    display: flex;
    align-items: center;
    margin: 0 auto;
}


.content img{
    height: 600px;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;           
    padding: 15px 30px;
    position: sticky;          
}

.nav-links {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    color: white;
    font-weight: 500;
    list-style: none;
}


nav-links li {
    margin-left: 20px;
}


.nav-links a {
    color: #fff;
    text-decoration: none; 
    font-size: 16px;
    padding: 8px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
}